.venv/
**/.venv/
backend/DVSV/DVSV/__pycache__
backend/.idea
**/.idea/
**/mysql/
**/rabbitmq/
/test
**/.idea
**/config.yml
server/server/__pycache__
server/config/config.yml
*.yml
server/user/__pycache__
server/user/migrations/__pycache__
