.venv/
**/.venv/
**/venv
backend/DVSV/DVSV/__pycache__
backend/.idea
**/.idea/
**/mysql/
**/rabbitmq/
/test
**/.idea
server/server/__pycache__
server/config/config.yml
server/user/__pycache__
server/user/migrations/__pycache__
server/config/config.yml
