.venv/
**/.venv/
**/venv
backend/DVSV/DVSV/__pycache__
backend/.idea
**/.idea/
**/mysql/
**/rabbitmq/
**/redis/
/test
**/.idea
server/server/__pycache__
server/config/config.yml
server/user/__pycache__
server/user/migrations/__pycache__
server/config/config.yml
server/.env/Lib/site-packages/_distutils_hack/__pycache__
server/.env
server/test
.idea
server/common/__pycache__
server/config/__pycache__
server/user/common/__pycache__
